/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Force light mode base */
  color-scheme: light; 
}

body {
  margin: 0;
  /* Use a nice neutral font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Ensure the body takes full height so our flex layout works */
  min-height: 100vh;
}